html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Lexend', sans-serif;
}
#mainNavbar {
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    color:rgb(226, 219, 207);
}
#mainNavbar.scrolled {
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.95) !important;
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
    color: black;
}

.hero{
  width: 100%;
  background-image: url("../images/banmala.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

.cursorFollowerFirst {
    position: fixed;
    width: 100rem;
    height: 100rem;
    background: 
        radial-gradient(circle at 45% 45%, #fff570 0px, transparent 40%);
    transform: translate(-50%, -50%);
    transition: transform 0.3s;
    mix-blend-mode: normal;
    z-index: -999;
    pointer-events: none;
}
.cursorFollowerSecond {
    position: fixed;
    width: 100rem;
    height: 100rem;
    background: 
        radial-gradient(circle at 60% 60%, #7bcabe 0px, transparent 40%);
    transform: translate(-50%, -50%);
    transition: transform 0.3s;
    mix-blend-mode: normal;
    z-index: -999;
    pointer-events: none;
}
.cursorFollowerThird {
    position: fixed;
    width: 100rem;
    height: 100rem;
    background: 
        radial-gradient(circle at 40% 48%, #f7d9de 0px, transparent 40%);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: transform 0.3s;
    -webkit-transform: transform 0.3s;
    mix-blend-mode: normal;
    z-index: -999;
    pointer-events: none;
}


#projects, #education, #skills, #experience{
    border: #7bcabe 1px solid;
    border-radius: 20px;
    background-color: #ffffff55;
}

section{
    min-height: 50vh;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }
}
@media (max-width: 576px) {
    .hero h1 {
        font-size: 2rem;
    }
}


